<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.urbanairship.phonegap.plugins.PushNotificationPlugin"
    version="2.1.0">

    <name>PushNotificationPlugin</name>

    <!-- <asset src="js/PushNotification.js" target="PushNotification.js" /> -->

	<engines>
      <engine name="cordova" version=">=2.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="PushNotificationPlugin" value="com.urbanairship.phonegap.plugins.PushNotificationPlugin" onload="true" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/cordova">
            <access origin="*.combine.urbanairship.com"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-permission android:name="android.permission.GET_ACCOUNTS" /><!-- GCM requires a Google account. -->
            <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Keeps the processor from sleeping when a message is received. -->
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /><!-- This app has permission to register with GCM and receive message -->

            <!-- MODIFICATION REQUIRED - Replace "com.urbanairship.phonegap.sample" with your package name -->
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <!-- The two elements above ensure that only this application can receive the messages and registration result -->

            <!--  END Urban Airship Required Permissions -->

            <!-- OPTIONAL Urban Airship Settings -->
            <!-- REQUIRED FOR LOCATION -->
            <!-- Use ACCESS_COARSE_LOCATION if GPS access is not necessary -->
            <!-- uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /-->
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

            <!--  OPTIONAL - This permission is only necessary if your app has multiple processes -->
            <!--  <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->

            <!-- END OPTIONAL Urban Airship Settings -->

        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
            <!-- REQUIRED for PhoneGap plugin callback support -->
            <receiver android:name="$PACKAGE_NAME.PushNotificationPluginIntentReceiver" />

            <!-- REQUIRED for Urban Airship GCM-->
            <receiver android:name="com.urbanairship.CoreReceiver" />

            <receiver android:name="com.urbanairship.push.GCMPushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
              <intent-filter>
                  <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                  <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                  <!-- MODIFICATION REQUIRED - Use your package name as the category -->
                  <category android:name="$PACKAGE_NAME" />
              </intent-filter>
            </receiver>

            <service android:name="com.urbanairship.push.PushService" android:label="Push Notification Service"/>

            <!-- This is required for persisting preferences related to push and location -->
            <provider android:name="com.urbanairship.UrbanAirshipProvider"
                android:authorities="$PACKAGE_NAME.urbanairship.provider"
                android:exported="false"
                android:multiprocess="true" />
            <!-- END OF REQUIRED ITEMS -->


            <!-- OPTIONAL (for segments support) -->
            <service android:name="com.urbanairship.location.LocationService" android:label="Segments Service"/>
        </config-file>

        <source-file src="android/src/PushNotificationPlugin.java"
                target-dir="src/com/urbanairship/phonegap/plugins" />
        <source-file src="android/src/PushNotificationPluginIntentReceiver.java"
                target-dir="src/com/urbanairship/phonegap/plugins" />
        <source-file src="android/libs/urbanairship-lib-3.0.0.jar"
                target-dir="libs" />
    </platform>

    <!-- ios -->
    <platform name="ios">
		<config-file target="config.xml" parent="plugins">
			<plugin name="PushNotificationPlugin" value="PushNotificationPlugin" onload="true" />
		</config-file>
        <config-file target="config.xml" parent="/widget">
            <access origin="*.combine.urbanairship.com"/>
        </config-file>

        <source-file src="ios/src/PushNotificationPlugin.m" />
        <source-file src="ios/src/UAAppDelegateSurrogate.m" />
		<source-file src="ios/lib/libUAirship-1.4.0.a" framework="true" />

        <header-file src="ios/src/PushNotificationPlugin.h" />
        <header-file src="ios/src/UAAppDelegateSurrogate.h" />

        <framework src="CFNetwork.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="Foundation.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="UIKit.framework" />
        <framework src="libz.dylib" />
        <framework src="libsqlite3.dylib" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="StoreKit.framework" />

        <resource-file src="ios/AirshipConfig.plist" />
    </platform>
</plugin>
