developmentAppKey = __developmentAppKey__
developmentAppSecret = __developmentAppSecret__
productionAppKey = __productionAppKey__
productionAppSecret = __productionAppSecret__

#transport is "gcm" or "helium".
transport = gcm

gcmSender = __gcmSender__
inProduction = __inProduction__

iapEnabled = false

# 2 = Log.VERBOSE; 3 = Log.DEBUG; 4 = Log.INFO;
# 5 = Log.WARN; 6 = Log.ERROR; 7 = Log.ASSERT;
developmentLogLevel = 3
productionLogLevel = 6
